
.container {
    /* height: 1000px; */
    width: 100%;
    padding: 0 24px;

}
.title {
    margin: 48px 0 32px 0; 
    font-family: "Segoe UI";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;

}
.containerDateSearch {
    display: flex;
    width: 100%;
    gap: 16px;
    padding-bottom: 16px;
}