
.container {
    /* height: 1000px; */
    width: 100%;
    /* padding: 0 24px; */
    max-width: 912px

}
.title {
    margin: 48px 0 32px 0; 
    font-family: var(--ff);
    font-size: var(--fz-title);
    font-weight: var(--fw-bold);
    line-height: 48px;
}
.containerDateSearch {
    display: flex;
    width: 100%;
    gap: 16px;
    padding-bottom: 16px;
}