.container {
  max-width: 296px;
  width: 100%;
  margin: 0;
  margin-top: 61px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.button {
  width: 290px;
  padding: 8px;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
  color: var(--text-color);
  border: none;
  background-color: transparent;
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: var(--fz-text);
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  line-height: 12px;
}

.button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.button_active {
  background-color: #f2f3f5;
  border: 1px solid #e5e6e8;
  border-radius: 12px;
}
