.columnTable {
    background-color: #F5F5F5;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    list-style: initial;
    padding: initial;

    transition: width 0.3s ease;

    
}
.tableElement {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-start;
    height: 52px;

    /* Добавляет плавности при переключении, но вёрстка прыгает */
    transition: width 1s ease; 
    
}

/* .tableElement:nth-child(1) {
    width: 326px;
}

.tableElement:nth-child(2) {
    width: 271px;
}

.tableElement:nth-child(3) {
    width: 151px;
    padding-left: 43px;
}

.tableElement:nth-child(4) {
    width: 163px;
    padding-left: 52px;
} */

.textContainer {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    
  }
  .btnExport {
    background-image: url('../../images/share-export.svg');
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    
  }
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;


  }
  .filterStatus {
    margin-left: 16px;
  }
  .statusContainer {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "Segoe UI";
    
  }
  