.container {
    max-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    padding-top: 48px;
}

.input{
    width: 522px;
    margin-bottom: 20px;
    color: var(--color-text);
    font-family: var(--ff);
    font-size: var(--fz-text);
    font-weight: var(--fw-normal);
    line-height: 12px;
}

.input::placeholder{
    color: #a0a2aa;
}

.button__container{
    width: 255px;
    display: flex;
    gap: 12px;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    flex-wrap: wrap;
}

.mentor__container{
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    justify-content: flex-start;
    flex-direction: column;
    gap: 9px;
}
.text__container{
    display: flex;
    gap: 9px;
    align-items: center;
}

.edit__button{
    margin-left: 10px;
}

.button_add{
    opacity: 1;
    cursor: pointer;
    transition: opacity .5s ease-in-out;
}


.title{
    font-family: var(--ff);
    font-size: var(--fz-title);
    font-weight: var(--fw-bold);
    line-height: 48px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.subtitle{
    font-size: var(--fz-subtitle);
    color: var(--color-text);
    font-weight: var(--fw-normal);
    font-family: var(--ff);
    line-height: 12px;
    margin: 0;
    padding: 0;
}
.text__comment{
    opacity: 0.7;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--ff);
    font-size: var(--fz-text);
    font-weight: var(--fw-normal);
    line-height: 22.4px;
}

.text{
    opacity: 0.7;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    font-family: var(--ff);
    font-size: var(--fz-text);
    font-weight: var(--fw-normal);
    line-height: 22.4px;
}

.text__comment:hover{
    cursor: pointer;
    opacity: 1;
}

.calendar {
    margin-top: 4px;
    margin-bottom: 20px;
    width: 320px;
}

.attach {
    margin-bottom: 48px;
}