.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
  }

