.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
