.notificationContainer {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
}

.notification {
    background-color: #161545;
    color: Muhite;
    width: 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.notificationBox {
    top: 3.2rem;
    position: absolute;
    width: 2.3rem;
    background-color: Muhite;
    height: 2.3rem;
    box-shadow: rgba(16, 168, 111, 0.82) 7px 29px 8px;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 1.7rem;
}

.notificationHeader > h4 {
    color: #161545;
}

.user {
    display: flex;
    grid-gap: 2rem;
    border-top: 1px solid #D707DB;
    padding: 1.21rem 0;
}

.photoURL>img{
  width: 1rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 5%;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  grid-gap: 16px;
}

.cta-btn {
  font: inherit;
  background-color: transparent;
  border: 1px solid #c8c8c0;
  color: #c8c8c9;
  max-width: 6em;
  height: 3rem;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.accept {
  color: white;
  border: none;
  background-color: #14161545;
}

.notifyTime {
  font-size: 0.9rem;
  margin-top: 1px;
  color: #c8c8c9;
}

.notifyMessage {
  color: #161545;
  font-size: 0.8rem;
}

.textBotd {
  font-weight: 700;
}

